In [19]:
import pandas as pd
import matplotlib as plt

In [37]:
# detect coding of csv file

import chardet

with open("AviationData.csv", "rb") as f:
    result = chardet.detect(f.read(100000))  # Read a sample of the file
    print(result)  # Example output: {'encoding': 'Windows-1252', 'confidence': 0.99}

#df = pd.read_csv("AviationData.csv", encoding=result['encoding'])

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

In [41]:
# due to source of data columns 6,7 and 28 have mixed dtypes so low_memory 
# flag is set to False. fortunately this data size is not to large for my memory size. 
#for better control, chunksize flag can be specified
aviation_data = pd.read_csv('AviationData.csv', encoding = 'cp1252', low_memory=False)
aviation_data.head(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [47]:
# creating subset of aviation_data that are relevant to analyzing safety risk. may add more if necassary

data_subset = aviation_data.iloc[:,[0,2,3,4,10,11,12,14,15,17,18,21,23,24,25,26,27,30]]
data_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Injury.Severity         87889 non-null  object
 5   Aircraft.damage         85695 non-null  object
 6   Aircraft.Category       32287 non-null  object
 7   Make                    88826 non-null  object
 8   Model                   88797 non-null  object
 9   Number.of.Engines       82805 non-null  float64
 10  Engine.Type             81812 non-null  object
 11  Purpose.of.flight       82697 non-null  object
 12  Total.Fatal.Injuries    77488 non-null  float64
 13  Total.Serious.Injuries  76379 non-null  float64
 14  Total.Minor.Injuries    76956 non-null  float64
 15  Total.Uninjured         82977 non-null  float64
 16  Weather.Condition       84397 non-null  object
 17  Publication.Date        75118 non-null  object
dtypes: float64(5), object(13)
memory usage: 12.2+ MB

In [54]:
data_subset.head(10)

,Event.Id,Accident.Number,Event.Date,Location,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Publication.Date
0,20001218X45444,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,NaN
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,19-09-1996
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,26-02-2007
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,12-09-2000
4,20041105X01764,CHI79FA064,1979-08-02,"Canton, OH",Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,16-04-1980
5,20170710X52551,NYC79AA106,1979-09-17,"BOSTON, MA",Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0,VMC,19-09-2017
6,20001218X45446,CHI81LA106,1981-08-01,"COTTON, MN",Fatal(4),Destroyed,NaN,Cessna,180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,IMC,06-11-2001
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,01-01-1982
8,20020909X01561,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,01-01-1982
9,20020909X01560,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",Non-Fatal,Substantial,NaN,North American,NAVION L-17B,1.0,Reciprocating,Personal,0.0,0.0,3.0,0.0,IMC,01-01-1982

In [51]:
data_subset['Aircraft.damage'].unique()

array(['Destroyed', 'Substantial', 'Minor', nan, 'Unknown'], dtype=object)